AffineComponentPreconditionedOnline input-dim=300 output-dim=3000 alpha=4.0 num-samples-history=2000 update-period=4 rank-in=20 rank-out=80 max-change-per-sample=0.075 learning-rate=0.04 param-stddev=0.0182574185835055 bias-stddev=0.5
PnormComponent input-dim=3000 output-dim=300 p=2
NormalizeComponent dim=300
